@import './base.css';

#app {
  width:100%;
  margin: 0 auto;
  font-weight: normal;
}

a {
  text-decoration: none;
  transition: 0.4s;
  padding: 3px;
  position: relative;
}
a::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0px;
  height: 1px;
  background-color: var(--color-background);
  transition: 0.5s all ease;
}


a:hover::before{
  width: 100%;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: column;
    place-items: center;
  }

  #app {

  }
}


h2{
  font-family: var(--h2-font);
  color: var(--vt-c-dark-green);
}
.page{
  margin-left:50px;
}

button{
  background-color: var(--vt-c-dark-green);
  padding: 8px 10px 8px 10px;
  margin-top: 5px;
  border: none;
  color: var(--vt-c-white);
  font-family: var(--h2-font);
  font-size: 20px;
  letter-spacing: 2px;
}